{
  "extends": "airbnb-base",
  "parser":"babel-eslint",
  "rules": {
    "strict": 0,
    "indent": ["off", 4],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 0}],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}